Source: gr
Section: devel
Priority: optional
Maintainer: Sutou Kouhei <kou@clear-code.com>
Build-Depends:
  cmake,
  debhelper (>= 11),
  devscripts,
  dvipng,
  libavcodec-dev,
  libavformat-dev,
  libavutil-dev,
  libbz2-dev,
  libcairo2-dev,
  libfreetype6-dev,
  libgl-dev,
  libglfw3-dev,
  libgs-dev,
  libjpeg-dev,
  libogg-dev,
  libpng-dev,
  libqhull-dev,
  libswscale-dev,
  libtheora-dev,
  libtiff-dev,
  libvpx-dev,
  libwxgtk3.0-gtk3-dev,
  libxcursor-dev,
  libxft-dev,
  libxi-dev,
  libxinerama-dev,
  libxt-dev,
  libzmq3-dev,
#  python,
  qtbase5-dev,
  texlive-latex-base,
  zlib1g-dev
Standards-Version: 4.1.4
Homepage: https://gr-framework.org/

Package: libgks
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
  ${misc:Depends},
  ${shlibs:Depends}
Description: GR framework is a graphics library for visualisation applications
 .
 This package provides library files for GKS.

Package: libgks-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
  ${misc:Depends},
  libgks (= ${binary:Version})
Description: GR framework is a graphics library for visualisation applications
 .
 This package provides header files for GKS.

Package: libgr
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
  ${misc:Depends},
  ${shlibs:Depends},
  libgks (= ${binary:Version}),
  dvipng,
  python,
  texlive-latex-base
Description: GR framework is a graphics library for visualisation applications
 .
 This package provides library files for GR.

Package: libgr-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
  ${misc:Depends},
  libgr (= ${binary:Version}),
  libgks-dev (= ${binary:Version})
Description: GR framework is a graphics library for visualisation applications
 .
 This package provides header files for GR.

Package: libgr3
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
  ${misc:Depends},
  ${shlibs:Depends},
  libgr (= ${binary:Version})
Description: GR framework is a graphics library for visualisation applications
 .
 This package provides library files for GR3.

Package: libgr3-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
  ${misc:Depends},
  libgr3 (= ${binary:Version}),
  libgr-dev (= ${binary:Version})
Description: GR framework is a graphics library for visualisation applications
 .
 This package provides header files for GR3.

Package: libgrm
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
  ${misc:Depends},
  ${shlibs:Depends},
  libgr3 (= ${binary:Version})
Description: GR framework is a graphics library for visualisation applications
 .
 This package provides library files for GRM.

Package: libgrm-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
  ${misc:Depends},
  libgrm (= ${binary:Version}),
  libgr3-dev (= ${binary:Version})
Description: GR framework is a graphics library for visualisation applications
 .
 This package provides header files for GRM.
