/GPG-KEY-*
/*.gpg
/ansible/playbook.retry
/repositories/
/rpm/
/yum/RPM-GPG-KEY-*
/yum/*.repo
/*/*.tar.gz
/*/apt/.vagrant/
/*/apt/repositories/
/*/apt/tmp/
/*/apt/env.sh
/*/source/
/*/yum/.vagrant/
/*/yum/repositories/
/*/yum/tmp/
/*/yum/env.sh
/*/tmp/
