/GPG-KEY-*
/*.gpg
/*.gpg~
/ansible/password
/ansible/playbook.retry
/repositories/
/*/*.tar.gz
/*/apt/build.sh
/*/apt/env.sh
/*/apt/repositories/
/*/apt/tmp/
/*/source/
/*/yum/.vagrant/
/*/yum/repositories/
/*/yum/tmp/
/*/yum/build.sh
/*/yum/env.sh
/*/tmp/
