<IfModule mod_passenger.c>
  PassengerRoot /var/lib/gems/{{ ruby_api_version }}/gems/passenger-{{ passenger_version }}
  PassengerDefaultRuby /usr/bin/{{ ruby }}

  PassengerMaxRequests 100
</IfModule>
