Source: red-data-tools-archive-keyring
Section: misc
Priority: important
Maintainer: Red Data Tools <packages@red-data-tools.org>
Build-Depends:
  debhelper (>= 9)
Standards-Version: 3.9.7
Homepage: https://red-data-tools.github.io/

Package: red-data-tools-archive-keyring
Section: oldlibs
Architecture: all
Depends:
  ${misc:Depends},
  red-data-tools-apt-source
Description: GnuPG archive key and APT source of the Red Data Tools archive
 The Red Data Tools project digitally signs its Release files. This
 package contains the archive key used for that.
 .
 This is a trnsitional package. It can safely be removed.
