#!/usr/bin/make -f
# -*- makefile-gmake -*-
#
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh $@

override_dh_auto_configure:
	mkdir -p build/flatbuffers_ep-prefix
	cp vendor/flatbuffers/* build/flatbuffers_ep-prefix/
	env \
	  LANG=C \
	  RAPIDJSON_HOME=vendor/rapidjson \
	    dh_auto_configure \
	      --sourcedirectory=cpp \
	      --builddirectory=build \
	      -- \
	      -DCMAKE_BUILD_TYPE=Release \
	      -DARROW_BUILD_TESTS=no

override_dh_auto_build:
	dh_auto_build \
	  --sourcedirectory=cpp \
	  --builddirectory=build \

override_dh_auto_install:
	dh_auto_install \
	  --sourcedirectory=cpp \
	  --builddirectory=build

# disable 'make check'.
override_dh_auto_test:
