#!/usr/bin/make -f
# -*- makefile-gmake -*-
#
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh $@

override_dh_auto_configure:
	tar xf vendor/flatbuffers/*
	(cd flatbuffers-* && \
	  cmake . \
	    -DCMAKE_CXX_FLAGS=-fPIC \
	    -DCMAKE_INSTALL_PREFIX=$${PWD}/../vendor/flatbuffers \
	    -DFLATBUFFERS_BUILD_TESTS=OFF && \
	  make && \
	  make install)
	env \
	  LANG=C \
	  FLATBUFFERS_HOME=$${PWD}/vendor/flatbuffers \
	  RAPIDJSON_HOME=$${PWD}/vendor/rapidjson \
	    dh_auto_configure \
	      --sourcedirectory=cpp \
	      -- \
	      -DCMAKE_BUILD_TYPE=Release \
	      -DARROW_BUILD_TESTS=OFF \
	      -DARROW_PYTHON=ON \
	      -DPythonInterp_FIND_VERSION=ON \
	      -DPythonInterp_FIND_VERSION_MAJOR=3

override_dh_auto_build:
	dh_auto_build --sourcedirectory=cpp

override_dh_auto_install:
	dh_auto_install --sourcedirectory=cpp

# disable 'make check'.
override_dh_auto_test:
