Source: opencv-glib
Section: devel
Priority: optional
Maintainer: Kouhei Sutou <kou@clear-code.com>
Build-Depends:
  debhelper (>= 11),
  gobject-introspection,
  gtk-doc-tools,
  libgirepository1.0-dev,
  libopencv-dev,
  meson,
  pkg-config
Build-Depends-Indep: libglib2.0-doc
Standards-Version: 4.1.4
Homepage: https://github.com/red-data-tools/opencv-glib/

Package: libopencv-glib1
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
  ${misc:Depends},
  ${shlibs:Depends}
Description: OpenCV GLib is a wrapper library for OpenCV
 .
 This package provides library files.

Package: gir1.2-cv-1.0
Section: introspection
Architecture: any
Multi-Arch: same
Depends:
  ${gir:Depends},
  ${misc:Depends}
Description: OpenCV GLib is a wrapper library for Apache OpenCV
 .
 This package provides GObject Introspection typelib files.

Package: libopencv-glib-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
  ${misc:Depends},
  libopencv-dev,
  libopencv-glib1 (= ${binary:Version}),
  gir1.2-cv-1.0 (= ${binary:Version})
Description: OpenCV GLib is a wrapper library for Apache OpenCV
 .
 This package provides header files.

Package: libopencv-glib-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends:
  ${misc:Depends}
Recommends:
  libglib2.0-doc
Description: OpenCV GLib is a wrapper library for Apache OpenCV
 .
 This package provides documentations.
