Source: apache-parquet-cpp
Section: devel
Priority: optional
Maintainer: Kouhei Sutou <kou@clear-code.com>
Build-Depends:
  debhelper (>= 9),
  pkg-config,
  cmake,
  libtool,
  bison,
  flex,
  libssl-dev,
  libboost-dev,
  libboost-system-dev,
  libboost-filesystem-dev,
  libboost-program-options-dev,
  libboost-regex-dev,
  libarrow-dev
Standards-Version: 3.9.6
Homepage: https://parquet.apache.org/

Package: libparquet1
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
  ${misc:Depends},
  ${shlibs:Depends}
Description: Apache Parquet is a columner storage format
 .
 This package provides library files to process Apache Parquet format.

Package: libparquet-arrow1
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
  ${misc:Depends},
  ${shlibs:Depends},
  libparquet1 (= ${binary:Version}),
  libarrow0
Description: Apache Parquet is a columner storage format
 .
 This package provides library files to integrate Apache Arrrow.

Package: libparquet-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
  ${misc:Depends},
  zlib1g-dev,
  libparquet1 (= ${binary:Version}),
  libparquet-arrow1 (= ${binary:Version})
Description: Apache Parquet is a columner storage format
 .
 This package provides header files.
